html, body{

    height: 100%;

}

    header{
        
        height: 20%;
        border: solid black;
        background-color: rgb(65, 65, 192);

    }
        h1{
            color: white;
            height: 50%;
            font-size: 335%;
            display: inline-block;
            width: 30%;
            position: relative;
            bottom: 33%;
        }
            #logo{

                width: 15%;
                height: 100%;
                position: relative;
                
            }


    main{

        height: 75%;
        border: black solid;
        
    
    }
        .input{

            position: relative;
            top: 4%;
            left: 1%;

        }

   
        #conteudo {
            border: solid black;
            position: relative;
            width: 40%;
            height: 73%;
            top: 20%;
            left: 0%;
        }   

            #titulo {
                position: relative;
                left: 1%;
                display: inline-block;
                width: 98%;
                text-align: center;
            }

            #explicacao{

                bottom: 0%;
                position: relative;
                left: 1%;
                display: inline-block;
                width: 98%;
                height: 77%;
            }
            
            #media{
                border: black solid;
                height: 75%;
                width: 55%;
                position: absolute;
                left: 44%;
                bottom: 2%;
            }

            

            .classe{
                
                height: 100%;
                width: 100%;
                position: relative;
                
            }


            

            
            