html, body{

    height: 100%;

}

    header{
        
        height: 20%;
        border: solid black;
        background-color: rgb(65, 65, 192);

    }
        h1{
            color: white;
            height: 50%;
            font-size: 335%;
            display: inline-block;
            width: 30%;
        }

    main{

        height: 75%;
        border: black solid;
        
    
    }
        #fundo{

            height: 80%;
            width: 100%;

        }